.sec-header2 {

  &__header2 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 3px green;
    padding-left: 10px;
    font-size: 23px;
    transition: text-shadow 0.5s;
    -webkit-transition: text-shadow 0.5s;
    -moz-transition: text-shadow 0.5s;
    -ms-transition: text-shadow 0.5s;
    -o-transition: text-shadow 0.5s;
}
  
  &__header2:hover {
    text-shadow: 2px 2px 3px red;
    cursor: pointer;
  }

  &__paragraph {
    column-count: 3;
    column-rule: 10px #f00 solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
  }
}
.line {
  width: 40%;
  height: 4px;
  align-items: center;
  background-color: rgba(238, 22, 22, 0.689);
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  margin-bottom: 40px;
}
